@model List<Books>
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Доступные книги</h1>
    <input type="button" value="Сортировать по автору" onclick="location.href='@Url.Action("Index", "Home", new { id = 4 })'" />
    <input type="button" value="Сортировать по названию" onclick="location.href='@Url.Action("Index", "Home", new { id = 5 })'" />
    <input type="button" value="Сортировать по году издания" onclick="location.href='@Url.Action("Index", "Home", new { id = 6 })'" />
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Автор</th>
                <th>Название</th>
                <th>Год выпуска</th>
                <th>Покупка</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Books item in Model)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.author</td>
                    <td>@item.book_name</td>
                    <td>@item.year_published</td>
                    <td>
                        <input type="button" value="Купить" onclick="location.href='@Url.Action("Delete", "Home", new { id = item.id })'" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
